body {
  padding-top: 0px;
  padding-left: 1%;
  background-color: #333333;
  color: black;
}

#accountsList {
  margin-top: 10px;
}

.widget {
  background-color: lightgrey;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 5px;
}

#signOutButton {
  margin-top: 20px;
}

table {
  background-color: white;
  font-size: 12px;
}

.btn {
  background-color: white;
  border-color: black;
}

#transactionsList {
  margin-top: 10px;
}

#transactionsWidget {
  padding-left: 6%;
  padding-right: 6%;
}


/****related to graph
*/
            /* tell the SVG path to be a thin blue line without any area fill */
            path {
                stroke: steelblue;
                stroke-width: 1;
                fill: none;
            }

            path2 {
                stroke: red;
                stroke-width: 1;
                fill: none;
            }

            
            .axis {
              shape-rendering: crispEdges;
            }
            .x.axis line {
              stroke: lightgrey;
            }
            .x.axis .minor {
              stroke-opacity: .5;
            }
            .x.axis path {
              display: none;
            }
            .y.axis line, .y.axis path {
              fill: none;
              stroke: #000;
            }