body {
  padding-top: 0px;
  padding-left: 1%;
  background-color: #333333;
  color: black;
}

#accountsList {
  margin-top: 10px;
}

.widget {
  background-color: lightgrey;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 5px;
}

#signOutButton {
  margin-top: 20px;
}

table {
  background-color: white;
  font-size: 12px;
}

.btn {
  background-color: white;
  border-color: black;
}

#transactionsList {
  margin-top: 10px;
}

#transactionsWidget {
  padding-left: 6%;
  padding-right: 6%;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.accountName {
  cursor: pointer;
  cursor: hand;
}

#transactionsList thead tr th {
  cursor: pointer;
  cursor: hand;
}

dd, dt {
  float: left;
}

dt {
  margin-left: 30px;
  margin-bottom: 15px;
}

#graphWidget span {
  border: 1px solid #ccc;
  float: left;
  width: 12px;
  height: 12px;
  margin: 2px;
}

#graphWidget input {
  width: 125px;
}

#graphWidget form {
  margin-bottom: 15px;
  margin-left: 25px;
}